<h2>ユーザ</h2>

<table>
<% User.all.each do | each | %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

    <td class="list_description">
      <%= each.name %> <%= h( "<" ) + each.email + h( ">" ) %>
    </td>

  </tr>
<% end %>
</table>
